<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css?ionicCachebuster=43161" rel="stylesheet">
    <link href="css/style.css?ionicCachebuster=43161" rel="stylesheet">
    <style>
    huge-icon:before {
      font-size: 200px
    }
    </style>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js?ionicCachebuster=43161"></script>
<script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js?ionicCachebuster=43161"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
<!-- <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="js/app.js?ionicCachebuster=43161"></script>
    <script src="js/login.js?ionicCachebuster=43161"></script>
    <script src="js/communicator.js?ionicCachebuster=43161"></script>
  </head>
  <body ng-app="pawm">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic PAWM</h1>
      </ion-header-bar>
      <ion-content ng-controller="basicView">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <div class="input-label">Device ID:</div>
            <br>
            <textarea class="item item-input item-text-wrap" ng-readonly="true" ng-model="SystemInfo.deviceToken"></textarea>
          </label>
          <ion-spinner ng-if="!SystemInfo.registrationEnded"></ion-spinner>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="button button-assertive" onclick="ionic.Platform.exitApp()">EXIT</button>
            <button class="button button-positive" ng-click="showToken()">Token</button>
            <button class="button button-energized" ng-click="showAuthToken()">AuthToken</button>
            <button class="button button-balanced" ng-click="showLogin()">Login</button>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <a class="button button-icon icon ion-happy-outline huge-icon" ng-click="sendEvent('happy')"></a>
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
